section {
    font-size: 14px;
    &.todoapp {
        max-width: 30%;
        margin: 20px auto;  
    }

    .btn {
        background-color: blue;
        color: #fff;
        padding: 10px 15px;
        margin: 0 2px;
        border: 0;
        cursor: pointer;
        
        &.disable {
            background-color: #cecece;
            cursor: not-allowed;
        }
    }
    
    input {
        &.new-todo,
        &.search{
            font-size: 14px;
            padding: 5px 10px;
            border: 0;
            border-bottom: 1px solid #cecece;
            outline: 0;
            margin: 0 5px;
            width: 200px;
        }
        &.search{
            border: 1px solid #cecece;
            border-radius: 15px;
        }
    }
    
    .remove {
        cursor: pointer;
        margin-left: 5px;

        &:hover {
            text-decoration: underline;
        }
    }
    
    ul {
        list-style: none;
        padding: 0;
        
        li {
            padding: 5px 0;
        }
    }

    footer {
        margin-top: 15px;
    }
}
